@charset "UTF-8";

/* reset da pág */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
}

/* config geral da pág. */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #016a8e;
}
/* config. do background */
.background-image {
    background-image: url('../img/bg-site-allan.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}
/* alinhamento geral com display flex do cabeçalho da pág */

.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
/* margem da logo do cabeçalho */
.link-logo {
    margin-top: 15px;
}

/* afastamento do menu de navegação direita e topo */
.menu-nav {
    margin-top: 15px;
    margin-right: 45px;
    
}

/* alinhamento display flex da lista de navegação*/
.lista-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}

/* ajuste de posição no links de navegação e cor  */
.link-nav {
    padding: 16px 25px;
    color: white;
    cursor: pointer;
}
/* ajuste secundários dos links de navegação */
.link-nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 5px;
}

/* linha animada link */
.link-nav a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    opacity: 0.7;
    }
/* linha animada link */
.link-nav a:hover::after{
    width: 100%;
}

/* ajustes de posição, tamanho e cor do headeline do conteudo main  */
.headline-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 85px;
}
/* ajustes do titulo do headeline-conteudo main  */
.headline-titulo {
    color: whitesmoke;
    font-size: 4rem;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

/* ajustes da imagem do headeline-conteudo main  */
.allan-abraco {
    padding-right: 30px;
}
/* linha de separação entre os artigos */
.linha {
    background: white;;
    height: 2px;
    width: 100%;
    opacity: 0.3;
}
/* section principal */
section {
    padding-top: 20px;
}
/* Artigo sobre mim */
.sobremim-artic {
    padding: 40px 26px 0px 26px;
    color: #fff;
    margin-bottom: 100px;
}

.titulo-h2{
    font-size: 3rem;
    text-decoration: underline;
    text-underline-position: under; /* espaço entre a under-line e o texto */
    
}
.sobremim-img {
    float: left; /* imagem flutuante sobre o texto */
    padding: 26px 15px 10px 0px;
}

p {
    line-height: 1.5em;
}

/* tag main */
.cont-principal {
    padding: 26px 15px 10px 26px;
}

/* artigo mandato */
.mandato-artic {
    color: #fff;
    padding: 40px 26px 0px 26px;
}


