@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* reset da pág */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
}

/* config geral da pág. */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #016a8e;
}

/* tag main */

.main-principal {
    padding: 26px 15px 10px 26px;
    width: 90%;
    margin: auto;
    max-width: 1750px;
}

/* config. do background */

.background-image {
    background-image: url('../img/bg-site-allan.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}
/* alinhamento geral com display flex do cabeçalho da pág */

.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
/* margem da logo do cabeçalho */

.link-logo {
    margin-top: 15px;
    margin-left: 70px;
}

/* afastamento do menu de navegação direita e topo */

.menu-nav {
    margin-top: 15px;
    margin-right: 45px;
    
}

/* alinhamento display flex da lista de navegação*/

.lista-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}

/* ajuste de posição no links de navegação e cor  */

.link-nav {
    padding: 16px 25px;
    color: white;
    cursor: pointer;
}
/* ajuste secundários dos links de navegação */
.link-nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 5px;
    letter-spacing: 2px; /*espaço entre as letras*/
}

/* linha animada link */
.link-nav a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    opacity: 0.7;
    }
/* linha animada link */
.link-nav a:hover::after{
    width: 100%;
}

/* ajustes de posição, tamanho e cor do headeline do conteudo main  */
.headline-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 85px;
    
}
/* ajustes do titulo do headeline-conteudo main  */
.headline-titulo {
    color: whitesmoke;
    text-align: left;
    font-size: 4rem;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    border-radius: 10px;
    
}

/* ajustes da imagem do headeline-conteudo main  */

.allan-abraco {
    padding-right: 30px;
    padding-left: 50px;
}
/* linha de separação entre os artigos */

.linha {
    background: white;;
    height: 2px;
    width: 97%;
    opacity: 0.3;
    margin-left: 20px;
    margin-top: 160px;
}
/* conf geral section */

section {
    padding-top: 34px;
    
}

/*config geral Artigo geral */
article {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Artigo sobre mim */
.sobremim-artic {
    padding: 40px 26px 50px 26px;
    color: #fff;
    margin-bottom: 100px;
}
/* imagem sobre mim */
.sobremim-img {
    float: left; /* imagem flutuante sobre o texto */
    padding: 26px 15px 10px 0px;
}

/*titulo h2 de todos os artigos*/
.titulo-h2{
    font-size: 3rem;
    text-decoration: underline;
    text-underline-position: under; /* espaço entre a under-line e o texto */
    
}

/*config geral Parágrafo*/
p {
    line-height: 1.5em;
    font-size: 1.5em;
}

.sobremim-p {
    padding-top: 1px;
}

/*--------------------------------------------------------------------*/

/* artigo Bandeiras */
.bandeiras-artic {
    padding: 40px 26px 50px 26px;
    color: #fff;
    margin-bottom: 100px;
}

/* imagem sobre mim */
.bandeiras-img {
    float: left; /* imagem flutuante sobre o texto */
    padding: 26px 15px 10px 0px;
}

.bandeiras-p {
    padding-top: 21px;
}

.listabandeiras {
    list-style: disc;
    list-style-position: inside;
    padding-top: 5px;
    text-decoration: underline;
    text-underline-position: under;
}

.li-bandeiras {
    padding-top: 21px;
    font-size: 1.5em;
    
}

/*--------------------------------------------------------------------*/

/* artigo casa pombo */
.casa-pombo-artic {
    padding: 40px 26px 50px 26px;
    color: #fff;
    margin-bottom: 100px;
}

/* imagem casa pombo */
.casa-pombo-img {
    float: left; /* imagem flutuante sobre o texto */
    padding: 26px 15px 10px 0px;
}

.casa-pombo-p {
    padding-top: 30px;
}

/*--------------------------------------------------------------------*/

/* artigo casa pombo */
.mandato-artic {
    padding: 40px 26px 50px 26px;
    color: #fff;
    margin-bottom: 100px;
}

.mandato-img {
    float: left; /* imagem flutuante sobre o texto */
    padding: 26px 15px 10px 0px;
}

.mandato-p {
    padding-top: 18px;
    text-indent: 25px;
    text-align: justify;
}

/*--------------------------------------------------------------------*/
/*Footer conteúdo*/
footer {
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.footer-conteudo {
    background-color: #1717177c;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.footer-contatos h2 {
    margin-bottom: 0.75rem;
}

.footer-social-midia {
    display: flex;
    gap: 1rem;
    font-size: 30px;
    margin-top: 1.5rem;
}

.footer-social-midia .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s; /*tempo de transição hover*/
}

.footer-link {
    text-decoration: none;
    cursor: pointer;
}

/*hover das redes sociais*/

.footer-social-midia .footer-link:hover {
    opacity: .8;
}


/*boder-radio dos links sociais*/

#instagram {
    background: linear-gradient( #7f37c9, #ff2992, #ff9807 );
}
#facebook {
    background-color: #4267b3;
}
#whatsapp {
    background-color: #25d366;
}
#x-twitter {
    background-color: #000;
}

#tiktok {
    background-color: #000;
}

#footer-list  {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-logo-img {
    left: 45px;
}

#footer-list .footer-link {
    color: #d9d9d9;
    transition: all 0.4s; /*tempo de transição hover*/
}

#footer-list h3 {
    color: #fff;
}

.footer-logo-p {
    color: #fff;
    font-size: 16px;
    left: 13px;
}


#footer-list .footer-link:hover {
    color: #7f37c9;
}

/* posição da caixa de email e texto e botão */
.footer-email {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #fff;
    
}

/* estilização do parágrafo do email */
.email-p {
    color: #d9d9d9;
    font-size: 16px;
}

/* posição do formulario de email */
#input-email {
    display: flex;
    align-items: center;
    background-color: #000;
}
/* ajuste da caixa do input do email */

#input-email input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
    
}

/* ajuste do botão do formulario de email */
#input-email button {
    background-color: #7f37c9;
    border: none;
    color: #fff;
    padding: 8px 1.25rem;
    font-size: 1.5rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
    
}

#input-email button:hover {
    opacity: 0.8;
}

/* ajustes do copyright */

#footer-copyright {
    display: flex;
    justify-content: center;
    background-color: #00000092;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    color: #fff;
}
/*-------------------------------------------------------------------*/
/* tamanho e sobreposição do slide  */
.mandato-slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.mandato-slider {
    margin-top: 80px;
    border: 5px solid #fff;
}

/* tamanho e sobreposição das imagens do slide */
.mandato-slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.mandato-slides input  {
    display: none;
}

.slide-mandato {
    width: 25%;
    position: relative;
}

/* posição as bolinhas de navegação */
.manual-navigation-mandato {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

/* estilizando as bolinhas de navegação */
#radio-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/* espaço entre as bolinhas de navegação */

#radio-btn:not(:last-child) {
    margin-right: 40px;
}

/* espaço entre as bolinhas de navegação */

#radio-btn:hover {
    background-color: #fff;
}

#radio1-mandato:checked ~ .first {
    margin-left: 0;
}

#radio2-mandato:checked ~ .first {
    margin-left: -25%;
}

#radio3-mandato:checked ~ .first {
    margin-left: -50%;
}

/* add radio 4 depois */

/* configurando o menu de imagens automatico */
.navigation-auto-mandato div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
/* posição do menu de imagens automatico */
.navigation-auto-mandato {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto-mandato div:not(:last-child) {
    margin-right: 40px;
}

#radio1-mandato:checked ~ .navigation-auto-mandato .auto-btn1 {
    background-color: #fff;
}

#radio2-mandato:checked~.navigation-auto-mandato .auto-btn2 {
    background-color: #fff;
}

#radio3-mandato:checked~.navigation-auto-mandato .auto-btn3 {
    background-color: #fff;
}


